* {
    margin : 0px;
    padding : 0px;
    border : 0px;
}

body {
    background-image : "#";
}

#title {
    color : #000ff0;
    position : absolute;
}

button.home {
    color : #ff00ff;
    width : 20%;
    height : 7.5%;
    border-radius : 50%;
    position : absolute;
}